* {
    text-transform: capitalize !important;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    background-color: #000;
}



.changepasswordFrom {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    justify-content: center;
    filter: drop-shadow(0 0 20px #3902ff);

    h1 {
        text-align: center;
        color: #fff;
        margin: 30px 0px;
    }

    .inputgroup {
        text-align: center;
        margin: 10px 0px;

        input {
            padding: 5px;
            border: none;

            &:focus {
                box-shadow: 0 0 20px #3902ff;
                outline: none;
                border: none;
            }
        }
    }

    .changeBtn {
        background-color: #fff;
        color: #000;
        border: none;
        border-radius: 0px;
        padding: 10px;
        margin: 20px 0px;
        transition: all .3s ease-in-out;

        &:hover {
            background-color: #000;
            color: #fff;
            filter: drop-shadow(0 0 20px #3902ff);
        }
    }

    .incorrectCRP {
        margin: 30px 0px;
        text-align: center;
        color: #fd0000;
        filter: drop-shadow(0 0 20px #fd0000);
    }

    .pMismatch {
        margin: 30px 0px;
        text-align: center;
        color: #fde403;
        filter: drop-shadow(0 0 20px #fde403);
    }

    .doneMSG {
        margin: 30px 0px;
        text-align: center;
        color: #03fd18;
        filter: drop-shadow(0 0 20px #03fd18);
    }

    .currpass {
        margin: 30px 0px;
        text-align: center;
        color: #fff;
        filter: drop-shadow(0 0 20px #fff);
    }
}